.main-container{
    border: solid 1px white;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;

    .three-d-canvas{
        border: solid 1px cyan;
        width: 100%;
        height: 60%;
    }

    .details-section{
        border: solid 1px cyan;
        width: 100%;
        height: 40%;
    }
}